CONFIG_ARM=y
CONFIG_TARGET_A55=y

#CONFIG_SYS_VENDOR="virtual_platform"
#CONFIG_SYS_BOARD="a55"
#CONFIG_SYS_CONFIG_NAME="a55"

CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x32000000

# u-boot base address
CONFIG_SYS_TEXT_BASE=0x31000000

# kernel load address
# offset 16M from u-boot base address
CONFIG_SYS_LOAD_ADDR=0x33000000

# timer
CONFIG_SYS_ARCH_TIMER=y

# uart
#CONFIG_BAUDRATE=115200
#CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_SYS_NS16550=y
CONFIG_CONS_INDEX=1
CONFIG_DM_SERIAL=y

# add fdt support
CONFIG_OF_CONTROL=y
CONFIG_OF_LIBFDT=y
CONFIG_DEFAULT_DEVICE_TREE="a55"
CONFIG_OF_SEPARATE=y

# cmdline hush parser
CONFIG_HUSH_PARSER=y
